<template>
  <div id="app">
    <!-- <div v-if="this.info"> -->
      <!-- <nav-bar></nav-bar> -->
    <!-- <p>{{this.info}}</p> -->
    <p>{{billingProfile}}</p>
  <!-- </div> -->
    <!-- <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// import func from '../vue-temp/vue-editor-bridge';
// import HelloWorld from './components/HelloWorld.vue'
// import Navbar from './components/Navbar.vue'
import axios from 'axios'
export default {
  name: 'app',
  components: {
    // 'nav-bar': Navbar
  },
   data() {
    return {
      info: null,
      orderId:'sy6lh1nj31',
      billingProfile: '',
    };
  },
  mounted(){
    this.defaultSettings();
    this.getOrder();

  },

  
  methods: {
    
     getOrder(){
      //  let order_id="sy6lh1nj31";
       axios
       .get('http://localhost:8000/orders/api/sy6lh1nj31')
       .then(response => {
         this.billingProfile = response.data.billing_profile
         console.log(response)
       })
       .catch(error => {
         console.log(error)
       })
    //  this.$http.get(`http://localhost:8000/orders/api/${order_id}`).then(response => {
    //    this.info = response.data

    //    console.log(response)
       
    //  }

    //  );
     },

     defaultSettings(){
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
     }
  },
  created(){
    this.getOrder();
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
